@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.text-block,
img {
    width: 600px;
    max-width: 80%;
    margin: 2em 0;
}

.text-block {
    background-image: url(colorful-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 495px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

p {
    background-color: rgba(192, 211, 228, 0.65);
    margin: 1em 2em;
    padding: 1em;
}

label {
    min-width: 135px;
}

input[type='range'] {
    width: 350px;
    max-width: 100%;
}

.value-display {
    width: 75px;
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: .3em;
}


@media (max-width: 575.98px) {
    .input-container {
        flex-direction: column;
        margin-top: 1em;
    }

    label,
    .value-display {
        text-align: center;
        width: unset;
    }
}

.unsupported-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    font-size: 1em;
    background-color: #000;
    color: #f00;
    padding: .5em;
    z-index: 10;
}

.close-btn {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

@supports(background-image: paint(something)) {
    .unsupported-panel {
        display:none;
    }
}