.pattern {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    --circle-color: rgb(51, 253, 0);
    --circle-size: 7%;
    background-image: paint(circles);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    50% {
        --circle-size: 4%;
        --circle-color: rgb(0, 199, 139);
    }
}
