@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #213153;
}

.container {
    border: 3px solid #213153;
    text-align: justify;
    font-size: 1.5em;
    width: 50%;
    padding: 1em;
    margin: 0 auto;
}
